@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

/* ===== Fuente Montserrat ===== */
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype"); /* tu ruta */
  font-weight: 500;   /* Medium */
  font-style: normal;
  font-display: swap;
}

/* Usar Montserrat como sans por defecto de Tailwind */
@theme {
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
}
/* Animación fadeIn en CSS puro */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Utilidad para usar Montserrat explícitamente */
@utility font-montserrat {
  font-family: var(--font-montserrat);
}

